@import "normalize.css";

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Basic Desktop Structure */
body {
    display: grid;
    grid-template-columns: 10vw 15vw 5vw 60vw 10vw;
    grid-template-rows: 200px auto 100px;
}

header {
    grid-column: 2 / span 3;
    grid-row: 1;
    margin-bottom: 4rem;
}

.nav__head {
    text-align: center;
}

.list__item__text {
    margin-bottom: 4rem;
}

.nav__head__list {
    list-style: none;
}

.nav__head__list__item {
    display: inline-block;
    margin-inline: 3rem;
}

article {
    grid-row: 2;
    grid-column: 4;
}

aside {
    grid-row: 2;
    grid-column: 2;
}

footer {
    grid-column: 2 / span 3;
    grid-row: 3;
}

.nav__foot {
    text-align: center;
}

.nav__foot__list__item {
    display: inline-block;
    margin-inline: 3rem;
}

.nav__foot__list {
    list-style: none;
}

/* Basic mobile Structure */
@media screen and (max-width: 799px) {
    body {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 150px auto auto 100px;
    }

    header {
        grid-column: 2;
        grid-row: 1;
    }

    article {
        grid-row: 2;
        grid-column: 2;
    }

    aside {
        grid-row: 3;
        grid-column: 2;
    }

    footer {
        grid-row: 4;
        grid-column: 2;
    }
}


/* Aside Styles */
/*images are originally 600px width */
.aside__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15vw;
    padding: 1rem;
    box-shadow: 0px  7px 7px rgba(153, 158, 153, 0.75);
    margin-block: 10%;
    
    justify-content: center;
}
.aside__item caption, {
    text-align: center;
    margin-top: 10rem;
    justify-content: center;
}
.aside__img{
    text-align: center;
    margin: 10%;
}
.aside__img img{
    width: 10rem;
    margin: 10%;
    border-radius: 50%;
}
.aside__item details{
    margin-top: 1rem;
    list-style: none;
}
#request li{
    list-style: none;
}