@import "normalize.css";

html,body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/* Basic Desktop Structure */
body{
    display: grid;
    grid-template-columns: 10vw 20vw 60vw 10vw;
    grid-template-rows: 150px auto 100px;
}
header{
    grid-column: 2 / span 2;
    grid-row: 1;
    margin-bottom: 5rem;
}
.nav__head{
    text-align: center;
}
.list__item__text{
    margin-bottom: 4rem;
}
.nav__head__list__item{
    display: inline-block;
    margin-inline:3rem;
}
.nav__head__list__item {
    display: inline-block;
    margin-inline:3rem;
}
main{
    grid-row: 2;
    grid-column: 3 ;
}
aside{
    grid-row: 2;
    grid-column: 2;
}
footer{
    grid-column: 2 / span 2;
    grid-row: 3;
}
/* Basic mobile Structure */
@media screen and (max-width: 799px){
    body{
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 150px auto auto 100px;
    }
    header{
        grid-column: 2;
    }
    main{
        grid-row: 2;
        grid-column: 2;
    }
    aside{
        grid-row: 3;
        grid-column: 2;
    }
    footer{
        grid-row: 4;
        grid-column: 2;
    }
}

.nav__head__list{
    list-style: none;
}
.nav__foot__list{
    list-style: none;
}
/* Aside Styles */
/*images are originally 600px width */
.aside__img{
    width: 10rem;
    border-radius: 50%;
}